<div class="container">
  <footer class="footer">
    <div class="columns">
      <div class="column">
        <h1 class="title is-size-3">Legal</h1>
        <ul>
          <li><a href="/imprint/">Imprint</a></li>
          <li><a href="/privacy/">GDPR & Privacy Statement</a></li>
        </ul>
      </div>

      <div class="column">
        <h1 class="title is-size-3">Latest Posts</h1>
        <ul>
          {%- for post in site.posts limit:5 -%}
          <li href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title | truncate: 35 }}
          </li>
          {%- endfor -%}
        </ul>
      </div>

      <div class="column">
        <h1 class="title title is-size-3">Contact</h1>
        <ul>
          <li>
            <span class="icon">
              <i class="las la-envelope"></i>
            </span>
            <a href="mailto: stefan.haslinger@informatom.com">Email Stefan</a>
          </li>
          <li>
            <span class="icon">
              <i class="lab la-twitter"></i>
            </span>
            <a href="https://twitter.com/informatom">@informatom</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="has-text-centered">
      {{ site.title }} | License: AGPLv3 | Developed by Stefan Haslinger
    </div>
  </footer>
</div>
{%- if page.custom_js -%}
{%- for js_file in page.custom_js -%}
<script src='{{ site.url }}/js/{{ js_file }}.js' type="text/javascript"></script>
{%- endfor -%}
{%- endif -%}